body {
  font-family: sans-serif;
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.facebook-login {
  color: white;
  display: flex;
  font-size: 12px;
}

.facebook-login div {
  margin: 5px;
}

.facebook-login label {
  margin-bottom: 5px;
}

.facebook-logo {
  width: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
  display: flex;
}

.form-control button {
  background-color: #4a6aa8;
  border: solid 1px;
  border-color: #29487d;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: 800;
  padding: 4px;
}

.form-control button:hover {
  background-color: #365aa1;
}

.main-content {
  background: linear-gradient(white, #d3d8e8);
  background-attachment: initial;
  background-clip: initial;
  background-color: initial;
  background-image: linear-gradient(white, rgb(211, 216, 232));
  background-origin: initial;
  background-size: initial;
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #333;
  font-size: 36px;
  font-weight: 600;
}

.quick-easy {
  color: #1d2129;
  font-size: 19px;
}

.main-content input {
  border: solid rgb(187, 192, 211) 1px;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px;
  padding: 8px;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.full_name {
  display: flex;

}

.full_name input {
  width: 50%;
}

.genero {
  display: flex;
}

.genero div {
  display: flex;
}
