.ajust {
  width: 276px;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.facebook-logo {
  width: 180px;
}

.facebook-login {
  display: flex;
  flex-basis: 400px;
  justify-content: space-around;
}

.facebook-login button {
  align-self: center;
  background-color: rgb(67, 100, 167);
  border: 1px solid rgb(33, 71, 146);
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 5px;
}

.facebook-login input {
  width: 150px;
}

.facebook-login label {
  line-height: 25px;
}

.facebook-login p {
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
}

.facebook-register {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 194px;
  padding: 7px 20px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

.form-control {
  align-self: flex-end;
  margin-bottom: 23px;
}

.form-group {
  display: flex;
  flex-direction: column;
  height: 70px;
}

.full-name {
  width: 125px;
}

.gender {
  font-size: 14px;
  line-height: 20px;
}

.input {
  border: 1px solid rgb(188, 198, 215);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px 10px;
}

.invalid-fields {
  border: 1px solid rgb(225, 66, 66);
  border-radius: 5px;
  color: rgb(179, 81, 81);
  font-weight: 600;
  padding: 5px 5px;
}

.labels {
  color: rgb(144, 148, 156);
  font-weight: 600;
  line-height: 30px;
}

.left-content {
  flex-basis: 800px;
  margin: 0;
}

.main-content {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  padding: 0;
}

.right-content {
  height: 100%;
  margin: 0;
  width: 300px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  color: white;
  display: flex;
  font-size: 12px;
  height: 53px;
  justify-content: space-between;
  padding: 15px;
}
