.top-bar {
  background-color: rgb(66, 103, 178);
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.formInput {
  background-color: white;
  border: 0;
  border-radius: 0;
  font-family: arial, sans-serif;
  font-size: 15px;
  margin-right: 5px;
  padding: 0;
}

body {
  background: linear-gradient(white, #D3D8E8);
  font-family: lucida, tahoma, verdana, arial, sans-serif;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 40px;
  word-spacing: -1px;
}

h1 {
  color: #141823;
  font-family: Freight Sans Bold, lucida grande, tahoma, verdana, arial, sans-serif;
}

input {
  border-radius: 5px;
  border-color: lightblue;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  margin: 5px;
  padding: 8px 10px;
  
}

.flex1 {
  display: flex;
}

.flex {
  display: flex;
  flex-flow: column;
}

.labelgender {
  display: block;
}

.buttonregister {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  color: white;
  display: block;
  font-family: Lucida Grande;
  font-weight: 600;
  height: 40px;
  margin: 10px;
  width: 120px;
}
