/* Andre */
.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
}

.facebook-login {
  display: flex;
}

/* Felipe */
.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}
