body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.invalid-field {
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.3);
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;
}

.facebook-login {
  align-items: center;
  color: white;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.user-password {
  margin-left: 15px;
}

.form-control {
  align-self: flex-end;
  padding: 0 15px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.complete-name {
  display: flex;
}

.label-birthdate , .label-gender {
  display: block;
}

.radios label {
  font-size: 15px;
}
