body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-entrar {
  background-color: #3578e5;
  border-radius: 5px;
  color: white;
  height: 23px;
}

.facebook-login {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 300px;
}

.facebook-logo {
  align-self: center;
  width: 170px;
}

.form-control {
  align-self: flex-end;
  height: 40px;
  width: 60px;
}

.form-group {
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-size: 12px;
  font-style: inherit;
  height: 40px;
  width: 100px;
}

.full-name {
  height: 20px;
  width: 46.7%;
}

.header-input {
  width: 100px;
}

.left-content {
  width: 800px;
}

.main-content {
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: center;
}

.other-gender {
  display: none;
}

.rest-data {
  height: 39px;
  width: 97%;
}

.right-content {
  width: 300px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 65px;
  justify-content: space-between;
}
