.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 65px;
  justify-content: space-between;
  width: 100%;
}

.facebook-login {
  color: white;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.form-group p {
  color: rgba(219, 219, 219, 0.822);
  margin: 0;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: flex-start;
}

.left-content {
  border: 2px solid black;
  width: 800px;
}

.right-content {
  border: 2px solid red;
  flex-wrap: nowrap;
  width: 300px;
}

.name {
  width: 120px;
}

.lastname {
  width: 150px;
}

.phoneemail {
  width: 280px;
}

.newpassword {
  width: 280px;
}

.birthdate {
  width: 280px;
}
