body {
  font-family: helvetica, sans-serif;
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.facebook-login {
  color: white;
  display: flex;
  font-size: 12px;
}

.facebook-login div {
  margin: 5px;
}

.facebook-login label {
  margin-bottom: 5px;
}

.facebook-logo {
  width: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
  display: flex;
}

.form-control button {
  background-color: #4a6aa8;
  border: solid 1px;
  border-color: #29487d;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: 800;
  padding: 4px;
}

.main-content {
  background: linear-gradient(white, #d3d8e8);
  background-attachment: initial;
  background-clip: initial;
  background-color: initial;
  background-image: linear-gradient(white, rgb(211, 216, 232));
  display: flex;
  justify-content: space-around;
  min-height: 560px;
}

h1 {
  color: #333;
  font-size: 36px;
  font-weight: 600;
}

.quick-easy {
  color: #1d2129;
  font-size: 19px;
}

.main-content input {
  border: solid rgb(187, 192, 211) 1px;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px;
  padding: 8px;
}

.left-content {
  width: 800px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.right-content form input {
  width: 99%;
  box-sizing: border-box;
}

.full_name {
  display: flex;
}

.full_name input {
  width: 50%;
  flex-grow: 1;
}

.full_name :nth-of-type(2) {
  margin-right: 0;
}

.full_name {
  display: flex;
}

.inside-labels {
  color: rgb(138, 138, 138);
  font-weight: 800;
}

.genero {
  display: flex;
}

.genero div {
  display: flex;
}

.main-content button {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  border: solid 1px;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.main-content button:hover {
  background: linear-gradient(#7bc967, #578843);
  background-color: #69a74e;
}

.form-control button:hover {
  background-color: #365aa1;
}
