body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 82px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.input-login {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}
