body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

.facebook-logo {
  margin-left: 400px;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.top-bar .facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.div-form-name-account {
  display: flex;
}

.div-name-account {
  margin-right: 23px;
}

.input-phone-password-birthdate {
  width: 369px;
}

.password-birthdate {
  margin-top: 15px;
}

.button-register {
  background-color: rgb(3, 238, 3);
}
