* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.top-bar img {
  flex-shrink: 0;
  flex-grow: 0;
}

.facebook-login {
  color: white;
  display: flex;
}
