/* Globals */
body {
  box-sizing : border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin     : 0;
  padding    : 0;
}

input {
  border       : 1px solid rgb(223, 223, 223);
  border-radius: 4px;
}

input {
  border: 1px solid rgb(223 , 225 , 227);
  border-radius: 4px;
  padding: 0.5rem;
}

/* Header */
.top-bar {
  background-color: rgb(66, 103, 178);
  display         : flex;
  justify-content : space-between;
}

.facebook-logo {
  align-self: center;
  max-width : 117px;
  width     : 100%;
}

.facebook-logo {
  width: 100%;
  max-width: 117px;
}

.facebook-login {
<<<<<<< HEAD
  display: flex;
  flex-wrap: wrap;
=======
  display  : flex;
  flex-wrap: wrap;
  font-size: 12px;
>>>>>>> 8747894319939abb7a8405d5fbe628a34da02714
}

.form-group {
  align-self     : flex-end;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  margin         : 0 1rem 0 0;
}

.form-group label {
  color        : rgb(236, 225, 225);
  margin-bottom: 0.5rem;
}

.form-group input {
  border-radius: 0;
}

.form-group input::placeholder {
  color: transparent;
}

.form-group input {
  border-radius: 0;
}

.form-group input::placeholder {
  color: transparent;
}

.form-control {
  align-self: flex-end;
}

<<<<<<< HEAD
.div-fieldset {
  background-color: white;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
}

fieldset {
  border: none;
  border-top: 1px solid rgb(201 , 201 , 201);
}

legend {
  text-align: center;
  padding: 0 1rem;
=======
.form-control button {
  background-color: rgb(57, 94, 161);
  border          : 1px solid rgb(57, 94, 161);
  border-radius   : 4px;
  box-sizing      : border-box;
  color           : white;
  font-weight     : 700;
  padding         : 0.5rem 1rem;
  width           : inherit;
}

.fieldset-block {
  background-color: white;
  display         : none;
  font-size       : 12px;
  padding         : 1rem;
  padding-top     : 0;
  text-align      : center;
}

.fieldset-block fieldset {
  border    : none;
  border-top: 1px solid rgb(201, 201, 201);
}

.fieldset-block legend {
  padding   : 0 1rem;
  text-align: center;
}

.fieldset-block button {
  background-color: rgb(20, 154, 31);
  border          : 1px solid rgb(20, 154, 31);
  border-radius   : 4px;
  box-sizing      : border-box;
  color           : white;
  font-weight     : 700;
  margin-top      : 1.5rem;
  padding         : 0.5rem 1rem;
  width           : inherit;
>>>>>>> 8747894319939abb7a8405d5fbe628a34da02714
}

/* Main */
.main-content {
  align-items     : center;
  background      : linear-gradient(180deg, rgb(254, 253, 255)
  0%, rgb(204, 211, 229) 100%);
  background-color: rgb(254, 253, 255);
  display         : flex;
  justify-content : center;
}

.left-content {
  width: 800px;
}

.left-content div {
  margin    : auto;
  max-width : 540px;
  text-align: left;
}

.left-content p {
  font-weight: 700;
  line-height: 1.5;
  text-align : left;
  width      : 360px;
}

.right-content {
  display       : flex;
  flex-direction: column;
  text-align    : center;
  width         : 300px;
}

.right-content p {
  margin-bottom: 1rem;
}

.form-register {
  box-sizing: border-box;
  display   : flex;
  flex-wrap : wrap;
  text-align: left;
}

.form-register > input , .form-register label , .form-register div , .form-register p {
  box-sizing: border-box;
  font-size : 14px;
  margin    : 0;
  padding   : 0;
  width     : 100%;
}

.form-register > label {
  font-weight  : 700;
  margin-bottom: 0.5rem;
}

.form-register > input {
  margin-bottom: 1rem;
  padding      : 0.5rem;
}

.form-register > input:first-child , .form-register > input:nth-child( 2 ) {
  margin-right: 0.5rem;
  width       : calc(50% - 0.5rem);
}

.form-register > input:nth-child( 2 ) {
  margin-left : 0.5rem;
  margin-right: 0;
}

.form-register p {
  color      : red;
  font-weight: 700;
  text-align : center;
}

.gender-custom {
  box-sizing: border-box;
  margin-top: 0.5rem;
  padding   : 0.5rem;
  width     : 100%;
}

.form-register button {
  background-color: rgb(20, 154, 31);
  border          : 1px solid rgb(20, 154, 31);
  border-radius   : 4px;
  box-shadow      : 1px 1px 3px grey;
  box-sizing      : border-box;
  color           : white;
  font-weight     : 700;
  margin          : 1rem auto;
  padding         : 0.5rem 1rem;
  text-shadow     : 1px 1px 3px grey;
  width           : inherit;
}

.write-values {
  line-height: 1.5;
}

.hidden {
  display: none;
}

.form-control button:hover {
  background-color: transparent;
  border          : 1px solid white;
}

.fieldset-block button:hover {
  background-color: transparent;
  color           : rgb(20, 154, 31);
}

footer {
  background-color: rgb(66, 103, 178);
  color           : rgb(254, 253, 255);
  padding         : 1rem;
  text-align      : center;
}

@media screen and ( max-width : 1099px ) {

  .main-content {
    flex-wrap: wrap;
  }

  .left-content , .right-content {
    justify-content: center;
    position       : relative;
    width          : 90%;
  }

  .form-register {
    justify-content: center;
    margin         : 0 auto;
    width          : 50%;
  }
}

@media screen and ( max-width : 600px ) {

  .top-bar {
    flex-direction: column;
  }

  .facebook-logo {
    align-self: center;
  }

  .facebook-login {
<<<<<<< HEAD
    justify-content: center;
    background-color: white;;
    padding: 1rem;
=======
    background-color: white;
    justify-content : center;
    padding         : 1rem;
>>>>>>> 8747894319939abb7a8405d5fbe628a34da02714
  }

  .facebook-login label {
    display: none;
  }

  .form-group {
<<<<<<< HEAD
    flex: 1 0 100%;
  }

  .form-group:first-child input {
    border-bottom: none;
  }

  .form-group input {
    background-color: rgb(244 , 245 , 247);
  }

  .form-group input::placeholder {
    color: black;
  }

  .left-content, .right-content {
    display: none;
=======
    flex  : 1 0 100%;
    margin: 0;
  }

  .form-group input {
    background-color: rgb(244, 245, 247);
    border-radius   : 4px;
    font-size       : 12px;
    margin          : 0;
    padding         : 0.5rem;
    width           : inherit;
  }

  .form-group:first-child input {
    border-bottom             : none;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
  }

  .form-group:nth-child( 2 ) input {
    border-top-left-radius : 0;
    border-top-right-radius: 0;
  }

  .form-group input::placeholder {
    color: rgb(105, 106, 108);
>>>>>>> 8747894319939abb7a8405d5fbe628a34da02714
  }

  .form-control {
    margin-top: 0.5rem;
<<<<<<< HEAD
  }


=======
    width     : 100%;
  }

  .form-control button {
    background-color: rgb(22, 112, 235);
    border          : 1px solid rgb(22, 112, 235);
    width           : inherit;
  }

  .form-control button:hover {
    background-color: transparent;
    color           : rgb(22, 112, 235);
  }

  .fieldset-block {
    display: block;
  }

  .left-content , .right-content {
    display: none;
  }

  .form-register {
    width: 100%;
  }
>>>>>>> 8747894319939abb7a8405d5fbe628a34da02714
}


/* estamos na estilização dos inputs, falta botões e esconder o fieldset/legend/botão cadastre-se */