body {
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 100px;
  justify-content: space-around;
  position: static;
  width: 100%;
}

.facebook-login {
  display: flex;
}

.title {
  align-self: flex-end;
}

.nav {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.form-control {
  align-self: flex-end;
  margin-left: 15px;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.fullname {
  display: flex;
}

.flex-axis {
  display: flex;
  flex-direction: column;
}
