body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 65px;
  justify-content: space-around;
}

.button-entrar {
  background-color: #3578e5;
  border-radius: 5px;
  color: white;
  height: 23px;
}

.facebook-login {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 300px;
}

.facebook-logo {
  align-self: center;
  width: 170px;
}

.form-control {
  align-self: flex-end;
  height: 40px;
  width: 60px;
}

.form-group {
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-size: 12px;
  font-style: inherit;
  height: 40px;
  width: 100px;
}

.header-input {
  width: 100px;
}

.main-content {
  background: linear-gradient(white, #d3d8e8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right-content {
  align-self: flex-start;
  margin-right: 230px;
  margin-top: 40px;
  width: 300px;
}

.left-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 40px;
  width: 800px;
}

.left-content :nth-child( 2 ) {
  align-self: flex-end;
}

.left-content p {
  align-self: center;
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
  max-width: 450px;
}

.main-title {
  font-size: 36px;
  margin-bottom: 0;
}

.full-name {
  display: flex;
}

.other-gender {
  display: none;
}

.rest-data {
  height: 39px;
  width: 97%;
}

.quick-easy {
  font-size: 19px;
}

.others-data {
  height: 39px;
  width: 97%;
}

.gerder-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
