body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.sign-up-fullname {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.sign-up-fullname input {
  width: 45%;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.gender {
  font-size: 15px;
}