body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;
}

.facebook-login {
  align-items: center;
  display: flex;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.user-password {
  margin-left: 15px;
}

.form-control {
  align-self: flex-end;
  padding: 0 15px;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.complete-name {
  display: flex;
}
