.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.facebook-login {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
  height: 577px;
  justify-content: space-around;
}

.left-content {
  height: 800px;
  margin-top: 30px;
}

.right-content {
  width: 300px;
}

.label-birthdate {
  flex-flow: row nowrap;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.label-gender {
  flex-flow: row nowrap;
}

.name-lastname {
	display: flex;
}

form {
  display: flex;
  flex-flow: row wrap;
}

.name-input {
  margin: 0 auto;
  padding: 5px;
  width: 40%;
}

.lastname-input {
  margin: 0 auto;
  padding: 5px;
  width: 40%;
}

.phoneemail-input {
  margin: 10px auto;
  padding: 5px;
  width: 90%;
}

.password-input {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
}

.birthdate-input {
  margin-left: 10px;
}

.facebook-register {
  margin: 10px;
  padding: 10px;
}

.name {
  display: flex;
  justify-content: space-between;
}

.genero {
  display: flex;
}
