body {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 9em;
}

.form-group label {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.form-control {
  align-self: flex-end;
  padding: 1em;
}

.form-control button {
  background-color: rgb(54, 95, 171);
  border: 0.5px solid rgb(47, 79, 140);
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 5px;
}

.showed {
  display: block;
}

.hidden {
  display: none;
}

@media screen and ( min-width : 780px ) {

  body {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  }

  .form-line-1 {
    display: flex;
  }

  .form-line-5 {
    font-size: 14px;
  }

  .form-line-1 input {
    width: 45%;
  }

  .facebook-register {
    display: flex;
    flex-direction: column;
  }

  .right-content {
    padding: 20px;
    width: 300px;
  }

  .title {
    color: rgb(50, 50, 50);
    font-size: 27px;
    font-weight: 700;
  }

  .right-content p {
    color: rgb(50, 50, 50);
    font-size: 15px;
    font-weight: 500;
  }

  .right-content input {
    height: 22px;
    margin: 5px;
  }

  .left-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
  }

  .main-content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .facebook-login {
    display: flex;
  }

  .top-bar {
    align-items: center;
    background-color: rgb(66, 103, 178);
    display: flex;
    justify-content: space-between;
  }

  .facebook-networking {
    align-self: flex-end;
    margin-right: 7em;
    width: 60%;
  }

  .facebook-slogan {
    color: rgb(66, 103, 178);
    font-size: large;
    font-weight: 700;
    width: 22em;
  }

  .register-data {
    background-color: greenyellow;
    border: 0.4px solid gray;
    padding: 5px;
  }
}
