body {
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
  justify-content: flex-end;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.facebook-fullname {
  display: flex;
  justify-content: space-between;
}

.lastname {
  justify-content: flex-end;
}

.facebook-datas {
  display: flex;
  flex-direction: column;
}

.gender-options {
  display: flex;
}
