body {
  background-image: linear-gradient(to bottom, #fefefe, #d3d4e8);
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* .btn {
  background-color: mediumseagreen;
  border: 0 solid;
  border-radius: 4px;
  color: white;
  font-size: large;
  padding: 8px;
  width: 170px;
} */

/* .data-content {
  display: flex;
  flex-direction: column;
} */

.facebook-login {
  color: white;
  display: flex;
}

/* .facebook-login label {
  color: white;
  font-size: 14px;
  font-weight: 200;
  margin: 5px 0;
} */

.facebook-logo {
  height: 60px;
}

.form-control {
  align-self: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.genero {
  display: none;
  margin: 0 0 15px;
  width: 100%;
}

.gender {
  margin: 0 10px;
}

.left-content {
  width: 800px;
}

/* .login-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0 90px;
}

.nome {
  display: flex;
}

.radios {
  display: flex;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
