body {
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.new-account-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.small-input {
  width: 45%;
}

.full-width-input {
  width: 100%;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-logo {
  align-self: flex-start;
}

.form-group {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.facebook-login {
  align-self: flex-end;
  color: whitesmoke;
  display: flex;
  padding: 10px;
}

.form-control {
  align-self: flex-end;
}
