body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-logo {
  align-self: flex-start;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.login-label {
  color: white;
  display: block;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 300px;
}

.lastname {
  display: inline-block;
  width: 45%;
}

.formInput {
  width: 95%;
}

.marginName {
  margin-right: 3px;
}
